body {
  min-width: 320px; }

.wrapper {
  position: relative;
  padding-top: 72px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 80px; }

.header,
.form {
  background-color: rgba(0, 0, 0, 0.4); }

.inner {
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.logo_header {
  float: none;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }
  .logo_header a {
    display: block;
    position: relative;
    padding-top: 100%;
    background-image: url(../img/test-img.png);
    background-size: contain; }

.logo_footer {
  width: 100px;
  float: left; }
  .logo_footer a {
    display: block;
    position: relative;
    padding-top: 100%;
    background-image: url(../img/test-img.png);
    background-size: contain; }

.hello_txt {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.txt_100 {
  text-align: center; }

.italic {
  display: block;
  font-style: italic;
  font-weight: normal; }

h1, h2, h3 {
  text-align: center; }

h2 span {
  display: block; }

.nav_bl {
  height: 72px; }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.navbar-toggle {
  float: left;
  margin-left: 15px; }

.nav_header {
  width: 100%;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto; }
  .nav_header li {
    text-align: center;
    width: 100%; }

.button_bl {
  text-align: center;
  height: auto; }
  .button_bl .data_send_btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e7e7e7;
    width: auto; }

.lang_btn_bl {
  position: fixed;
  top: 8px;
  right: 15px;
  z-index: 101; }
  .lang_btn_bl .dropdown-menu {
    width: auto;
    min-width: auto;
    left: 50%;
    transform: translateX(-50%); }
    .lang_btn_bl .dropdown-menu > li > a {
      padding: 6px 12px; }

.top_btn_bl {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  background-color: #fff;
  outline: 1px solid #000;
  z-index: 2; }

.form_block {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; }

.servise .serv_bg {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-image: url(../img/test-img.png); }
  .servise .serv_bg .serv_info {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); }
    .servise .serv_bg .serv_info > div {
      position: absolute;
      bottom: 20px;
      width: 100%; }
      .servise .serv_bg .serv_info > div h2 {
        text-align: center; }
      .servise .serv_bg .serv_info > div a {
        display: block;
        text-align: center; }
  .servise .serv_bg:hover .serv_info {
    display: block; }

.bxslider {
  overflow: hidden; }
  .bxslider img {
    max-width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto; }
  .bxslider .rewiev_txt {
    text-align: center; }
  .bxslider a {
    display: block;
    text-align: center; }

.footer {
  position: relative;
  overflow: hidden; }
  .footer #map {
    min-height: 320px;
    overflow: hidden;
    position: relative; }
  .footer .contacts {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center; }
    .footer .contacts .contacts_info {
      display: inline-block; }

.social {
  height: 65px;
  text-align: center; }
  .social a {
    line-height: 65px; }

.service_bl .new,
.service_bl .sale,
.service_bl .info {
  position: absolute;
  top: 1px;
  width: 36px;
  padding: 5px;
  text-align: center; }
.service_bl .new {
  background-color: pink;
  left: 15px; }
.service_bl .sale {
  background-color: #FFDD00;
  left: 15px; }
.service_bl .info {
  background-color: #7FFFD4;
  right: 15px; }

span.description {
  font-style: italic;
  font-weight: bold;
  position: relative; }
  span.description[aria-label]:hover::after {
    content: attr(aria-label);
    width: 200px;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-100px);
    display: block;
    background-color: #DB3;
    padding: 10px 15px;
    z-index: 2; }

.service_bl:first-child .service_name span.description[aria-label]:hover::after {
  top: 22px;
  bottom: auto; }