body {
  min-width: 320px;
  font-size: 20px;
  font-family: "montserratregular";
  color: #fff; }
  body.menu_place {
    position: relative;
    top: 50px; }

.wrapper {
  position: relative;
  padding-top: 72px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  padding-bottom: 100px; }

.container {
  padding-left: 0;
  padding-right: 0; }

.header {
  background: -webkit-linear-gradient(330deg, #FF5F6D, #FFC371);
  background: -o-linear-gradient(330deg, #FF5F6D, #FFC371);
  background: linear-gradient(120deg, #FF5F6D, #FFC371); }

.inner {
  width: 100%;
  max-width: 1140px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.logo a {
  display: block;
  position: relative;
  padding-top: 100%;
  background-image: url(../img/logo.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain; }

.logo_header {
  float: none;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }

.logo_footer {
  width: 150px;
  display: inline-block;
  vertical-align: middle; }

.hello_txt {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.txt_100 {
  text-align: center;
  height: 350px; }
  .txt_100 h2 {
    color: #484848;
    font-size: 40px;
    line-height: 1;
    font-weight: 100;
    font-family: "montserratbold"; }
    .txt_100 h2 span {
      font-size: 24px;
      color: #FF5F6D;
      line-height: 1; }
  .txt_100 p {
    color: #484848; }

.question {
  font-size: 30px;
  letter-spacing: 1px; }

.italic {
  display: block;
  font-family: "montserratitalic";
  font-size: 16px; }

.bold {
  font-family: "montserratbold";
  letter-spacing: 1px; }

.bold_i {
  font-family: "montserratbold_italic"; }

h1,
h2,
h3 {
  font-family: "montserratbold";
  text-align: center;
  text-transform: uppercase; }

h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #fff; }

.d_letter {
  display: inline-block; }

h2 {
  font-size: 45px; }
  h2 span {
    display: block; }

h2,
h3 {
  color: #484848; }

nav.navbar {
  min-width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #009F7E;
  border-radius: 0;
  border: none; }

.navbar-toggle {
  float: left;
  margin-left: 30px;
  font-size: 18px; }
  .navbar-toggle span {
    background-color: #fff; }
  .navbar-toggle:hover span {
    background-color: #FFC371; }

.navbar * {
  z-index: 11; }

.navbar .nav_header {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .navbar .nav_header > li {
    text-align: center;
    width: 100%; }
    .navbar .nav_header > li + li {
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar .nav_header > li > a {
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px; }
      .navbar .nav_header > li > a:hover, .navbar .nav_header > li > a:focus {
        color: #FFC371;
        background: none;
        outline: none; }

.button_bl {
  text-align: center;
  height: auto;
  margin-top: 30px; }
  .button_bl .data_send_btn {
    width: 245px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    font-family: "montserratbold";
    padding-left: 15px;
    padding-right: 15px;
    background: #009F7E;
    color: #fff; }
    .button_bl .data_send_btn:hover, .button_bl .data_send_btn:focus {
      text-decoration: none;
      outline: none;
      background-color: #FF5F6D;
      color: #fff; }

.lang_btn_bl {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 101;
  width: 50px; }
  .lang_btn_bl button {
    width: 100%;
    height: 30px;
    background-color: #009F7E;
    color: #fff;
    text-shadow: none;
    border: none;
    font-size: 14px; }
    .lang_btn_bl button:hover {
      background: #009F7E;
      color: #fff; }
  .lang_btn_bl .open button {
    border-radius: 0;
    background: #009F7E;
    color: #fff; }
  .lang_btn_bl .open .dropdown-menu {
    background-color: #009F7E;
    border-radius: 0;
    width: 100%;
    padding: 0;
    border: none;
    box-shadow: none; }
    .lang_btn_bl .open .dropdown-menu li a {
      color: #fff; }
      .lang_btn_bl .open .dropdown-menu li a:hover {
        background: #009F7E;
        color: #fff; }
  .lang_btn_bl .dropdown-menu {
    width: auto;
    min-width: auto;
    left: 50%;
    transform: translateX(-50%); }
    .lang_btn_bl .dropdown-menu > li > a {
      padding: 6px 12px; }

.top_btn_bl {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10; }
  .top_btn_bl a {
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    font-size: 14px;
    background: #009F7E;
    color: #fff; }
    .top_btn_bl a:hover {
      text-decoration: none;
      color: #FFC371; }

.form_block {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; }

.servise .serv_bg {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-image: url(../img/folio/nail_1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  .servise .serv_bg .serv_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #484848;
    mix-blend-mode: multiply;
    color: white; }
    .servise .serv_bg .serv_info a {
      display: block;
      text-align: center;
      font-size: 18px; }
      .servise .serv_bg .serv_info a:hover {
        text-decoration: none; }
    .servise .serv_bg .serv_info a {
      text-align: center; }
      .servise .serv_bg .serv_info a:hover {
        color: #FFC371; }
      .servise .serv_bg .serv_info a span {
        display: block; }
      .servise .serv_bg .serv_info a .item_name {
        font-family: "montserratblack";
        text-align: center;
        font-size: 145px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff; }
      .servise .serv_bg .serv_info a .item_link {
        color: #FF5F6D;
        font-size: 30px; }
  .servise .serv_bg:hover .serv_info {
    display: block; }

.bx-viewport {
  height: auto !important; }

.bxslider {
  overflow: hidden;
  padding-top: 30px; }
  .bxslider .rewiev_txt {
    text-align: center;
    color: #484848;
    padding-left: 15px;
    padding-right: 15px; }
  .bxslider a {
    display: block;
    text-align: center;
    font-size: 18px; }
    .bxslider a:hover {
      text-decoration: none; }
  .bxslider a {
    color: #FF5F6D;
    margin-top: 20px; }
    .bxslider a:hover {
      color: #FFC371; }

.review_slide {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  .review_slide .img {
    max-width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(../img/review/003_IMG_6948.jpg);
    margin-left: auto;
    margin-right: auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }

.bx-prev,
.bx-next {
  background-size: contain; }

.footer {
  padding-top: 15px;
  background: -webkit-linear-gradient(330deg, #FF5F6D, #FFC371);
  background: -o-linear-gradient(330deg, #FF5F6D, #FFC371);
  background: linear-gradient(120deg, #FF5F6D, #FFC371); }
  .footer #map {
    height: 450px; }
  .footer .contacts {
    text-align: center; }
    .footer .contacts p a {
      color: #fff; }

.social {
  height: 65px;
  text-align: center; }
  .social a {
    line-height: 65px;
    width: 40px;
    height: 30px;
    display: inline-block;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain; }
    .social a.instagram {
      background-image: url(../img/social/instagram.svg); }
      .social a.instagram:hover {
        background-image: url(../img/social/instagram_h.svg); }
    .social a.vk {
      background-image: url(../img/social/vk.svg); }
      .social a.vk:hover {
        background-image: url(../img/social/vk_h.svg); }
    .social a.facebook {
      background-image: url(../img/social/facebook.svg); }
      .social a.facebook:hover {
        background-image: url(../img/social/facebook_h.svg); }
    .social a.viber {
      background-image: url(../img/social/viber.svg); }
      .social a.viber:hover {
        background-image: url(../img/social/viber_h.svg); }
    .social a.telegram {
      background-image: url(../img/social/telegram.svg); }
      .social a.telegram:hover {
        background-image: url(../img/social/telegram_h.svg); }

.copyright {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 14px; }

.dev {
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 10px; }
  .dev a {
    color: #fff; }
    .dev a:hover {
      color: #009F7E;
      text-decoration: none; }

.service_bl .new,
.service_bl .sale {
  position: absolute;
  top: 1px;
  width: auto;
  padding: 2px 5px;
  text-align: center;
  font-size: 14px;
  color: #fff; }

.service_bl .new {
  background-color: #F62459;
  left: 15px; }

.service_bl .sale {
  background-color: #0ED771;
  left: 15px; }
