@media (min-width: 768px) {
  .col-lg-2_5 {
    float: left;
    width: 20%; }

  .logo_footer {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .benefits_bl::after {
    content: "";
    display: block;
    clear: both; }

  .txt_100::after {
    content: "";
    display: block;
    clear: both; }
  .txt_100:nth-child(odd) > div {
    padding-right: 45px; }
  .txt_100:nth-child(even) > div {
    padding-left: 45px; }

  .bold {
    font-family: "montserratbold_italic"; }

  h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 30px; }

  h1, h2 {
    font-size: 73px; }

  .nav_bl {
    height: 72px; }

  nav.navbar {
    position: relative; }
    nav.navbar.sticky-top-nav {
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0; }
      nav.navbar.sticky-top-nav .nav_header {
        width: 96%; }
        nav.navbar.sticky-top-nav .nav_header > li {
          width: 16.6666666667%; }
          nav.navbar.sticky-top-nav .nav_header > li > a {
            font-size: 18px; }
    nav.navbar .container-fluid,
    nav.navbar .navbar-collapse {
      padding-left: 0;
      padding-right: 0; }

  .navbar .nav_header {
    padding-right: 30px; }
    .navbar .nav_header li {
      width: 16.6666666667%; }

  .bxslider .rewiev_slide {
    text-align: center;
    width: 88%;
    margin-left: 7%; }
  .bxslider .img {
    width: 30%; }
  .bxslider .rewiev_txt {
    padding-top: 30px; }

  .footer {
    max-height: 450px; }
    .footer .inner {
      max-height: 450px; }
    .footer #map {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute !important;
      z-index: 2;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0; }
    .footer .contacts {
      min-height: 450px;
      z-index: 3; }
      .footer .contacts .contacts_info {
        display: block;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0; } }
@media (max-width: 995px) {
  .txt_100:nth-child(odd) > div {
    padding-right: 0px; }
  .txt_100:nth-child(even) > div {
    padding-left: 0px; } }
@media (max-width: 550px) {
  body {
    font-size: 16px; }

  .logo_footer {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .contacts .contacts_info {
    padding-left: 0;
    padding-right: 0; } }