// GOGOIA

@font-face {
  font-family: 'gogoiadeco';
  src: url("../fonts/gogoia/gogoia-deco-webfont.eot");
  src: url("../fonts/gogoia/gogoia-deco-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gogoia/gogoia-deco-webfont.woff2") format("woff2"), url("../fonts/gogoia/gogoia-deco-webfont.woff") format("woff"), url("../fonts/gogoia/gogoia-deco-webfont.ttf") format("truetype"), url("../fonts/gogoia/gogoia-deco-webfont.svg#gogoiadeco") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gogoiaregular';
  src: url("../fonts/gogoia/gogoia-regular-webfont.eot");
  src: url("../fonts/gogoia/gogoia-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gogoia/gogoia-regular-webfont.woff2") format("woff2"), url("../fonts/gogoia/gogoia-regular-webfont.woff") format("woff"), url("../fonts/gogoia/gogoia-regular-webfont.ttf") format("truetype"), url("../fonts/gogoia/gogoia-regular-webfont.svg#gogoiaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

// AZOFT

@font-face {
  font-family: 'azoft_sansregular';
  src: url("../fonts/azoft/azoft_sans-webfont.eot");
  src: url("../fonts/azoft/azoft_sans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/azoft/azoft_sans-webfont.woff2") format("woff2"), url("../fonts/azoft/azoft_sans-webfont.woff") format("woff"), url("../fonts/azoft/azoft_sans-webfont.ttf") format("truetype"), url("../fonts/azoft/azoft_sans-webfont.svg#azoft_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azoft_sansbold_italic';
  src: url("../fonts/azoft/azoft_sans-bold_italic-webfont.eot");
  src: url("../fonts/azoft/azoft_sans-bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/azoft/azoft_sans-bold_italic-webfont.woff2") format("woff2"), url("../fonts/azoft/azoft_sans-bold_italic-webfont.woff") format("woff"), url("../fonts/azoft/azoft_sans-bold_italic-webfont.ttf") format("truetype"), url("../fonts/azoft/azoft_sans-bold_italic-webfont.svg#azoft_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}