// GOGOIA

@font-face {
  font-family: 'gogoiadeco';
  src: url("gogoia-deco-webfont.eot");
  src: url("gogoia-deco-webfont.eot?#iefix") format("embedded-opentype"), url("gogoia-deco-webfont.woff2") format("woff2"), url("gogoia-deco-webfont.woff") format("woff"), url("gogoia-deco-webfont.ttf") format("truetype"), url("gogoia-deco-webfont.svg#gogoiadeco") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gogoiaregular';
  src: url("gogoia-regular-webfont.eot");
  src: url("gogoia-regular-webfont.eot?#iefix") format("embedded-opentype"), url("gogoia-regular-webfont.woff2") format("woff2"), url("gogoia-regular-webfont.woff") format("woff"), url("gogoia-regular-webfont.ttf") format("truetype"), url("gogoia-regular-webfont.svg#gogoiaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}