@import "variables";
@import "mixins";

// CONTAINERS ===================================
body {
  min-width: 320px;
  font-size: 20px;
}

.wrapper {
  position: relative;
  padding-top: 72px;

  @include p-x-15;
  @include p-y-80;
}

.header {
  background-image: url(../img/bg/header_bg.png);
  background-size: cover;
  background-position: top center;
}

.form {
  background-color: rgba(0, 0, 0, 0.4);
}

.inner {
  width: 100%;
  max-width: 1140px;
  position: relative;

  @include p-x-15;
  @include m-x-auto;
}

// LOGOS ===================================
.logo_header {
  float: none;
  max-width: 350px;

  @include m-x-auto;

  a {
    display: block;
    position: relative;
    padding-top: 100%;
    background-image: url(../img/logo.png);
    background-size: contain;
  }
}

.logo_footer {
  width: 100px;
  float: left;

  a {
    display: block;
    position: relative;
    padding-top: 100%;
    background-image: url(../img/test-img.png);
    background-size: contain;
  }
}

// TEXT ===================================
.hello_txt {
  width: 100%;
  max-width: 700px;
  text-align: center;

  @include m-x-auto;
}

.txt_100 {
  text-align: center;
}

.italic {
  display: block;
  font-style: italic;
  font-weight: normal;
}

// TITLES ===================================
h1 {
  font-family: $gogoiaRegular;
  font-size: 73px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $black;
}

.d_letter {
  font-family: $gogoiaDeco;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  span {
    display: block;
  }
}

// NAVIGATION ===================================
.nav_bl {
  height: 72px;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-default {
  // all of this
  background: none;
  border: none;
  box-shadow: none;

  .nav_header {
    width: 100%;
    padding-right: 30px;

    @include m-x-auto;

    > li {
      text-align: center;
      width: (100% / 6);

      > a {
        font-family: $azoft;
        color: $black;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-left: 0;
        padding-right: 0;

        // this
        text-shadow: none;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}

// BUTTONS ===================================

.button_bl {
  text-align: center;
  height: auto;
  margin-top: 30px;

  .data_send_btn {
    width: 245px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    background-color: #e7e7e7;
    background-color: $pink;
    color: $black;

    @include p-x-15;
  }
}

.lang_btn_bl {
  position: fixed;
  top: 8px;
  right: 15px;
  z-index: 101;

  button {
    background-color: $black;
    color: #fff;
    text-shadow: none;
    border: none;

    &:hover {
      color: $pink;
    }
  }

  .open {
    button {
      background-color: $black;
      color: $pink;
    }
  }

  .dropdown-menu {
    width: auto;
    min-width: auto;
    left: 50%;
    transform: translateX(-50%);

    > li > a {
      padding: 6px 12px;
    }
  }
}

.top_btn_bl {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  background-color: #fff;
  outline: 1px solid #000;
  z-index: 2;
}

.form_block {
  width: 100%;
  max-width: 450px;

  @include m-x-auto;
}

// FOLIO ===================================
.servise {
  .serv_bg {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-image: url(../img/test-img.png);

    .serv_info {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);

      > div {
        position: absolute;
        bottom: 20px;
        width: 100%;

        h2 {
          text-align: center;
        }

        a {
          display: block;
          text-align: center;
        }
      }
    }

    &:hover .serv_info {
      display: block;
    }
  }
}

// CAROUSEL ===================================
.bxslider {
  overflow: hidden;

  img {
    max-width: 200px;
    height: 200px;

    @include m-x-auto;
  }

  .rewiev_txt {
    text-align: center;
  }

  a {
    display: block;
    text-align: center;
  }
}

//FOOTER ===================================
.footer {
  position: relative;
  overflow: hidden;

  #map {
    min-height: 320px;
    overflow: hidden;
    position: relative;
  }

  .contacts {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;

    .contacts_info {
      display: inline-block;
    }
  }
}

// social
.social {
  height: 65px;
  text-align: center;

  a {
    line-height: 65px;
  }
}

// MARKERS ===================================
.service_bl {
  // span.class = first child of service_bl
  .new,
  .sale,
  .info {
    position: absolute;
    top: 1px;
    width: 36px;
    padding: 5px;
    text-align: center;
  }

  .new {
    background-color: pink;
    left: 15px;
  }

  .sale {
    background-color: #FFDD00;
    left: 15px;
  }

  .info {
    background-color: #7FFFD4;
    right: 15px;
  }
}

// description
span.description {
  font-style: italic;
  font-weight: bold;
  position: relative;

  &[aria-label]:hover {
    &::after {
      content: attr(aria-label);
      width: 200px;
      position: absolute;
      bottom: 22px;
      left: 50%;
      transform: translateX(-100px);
      display: block;
      background-color: #DB3;
      padding: 10px 15px;
      z-index: 2;
    }
  }
}

.service_bl:first-child .service_name {
  span.description {
    &[aria-label]:hover {
      &::after {
        top: 22px;
        bottom: auto;
      }
    }
  }
}