@import "variables";
@import "mixins";

@media (min-width: 768px) {
  // CONTAINERS ===================================
  .wrapper {}

  .inner {}

  .col-lg-2_5 {
    float: left;
    width: (100% / 5);
  }

  // LOGOS ===================================
  .logo_footer {
    float: none;

    @include m-x-auto;
  }

  // TEXT ===================================
  .benefits_bl {
    @include clean;
  }

  .txt_100 {
    @include clean;

    // min-height: 370px;

    &:nth-child(odd) {
      > div {
        padding-right: 45px;
      }
    }

    &:nth-child(even) {
      > div {
        padding-left: 45px;
      }
    }
  }

  .bold {
    font-weight: bold;
  }

  // TITLES ===================================
  h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  // NAVIGATION ===================================
  nav.navbar {
    position: relative;

    &.sticky-top-nav {
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0;

      .nav_header {
        width: 100% - 4;

        li {
          width: (100% / 6);
        }
      }
    }

    .container-fluid,
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar .nav_header {
    li {
      width: (100% / 6);
    }
  }

  // BUTTONS ===================================

  // FORMS ===================================

  // FOLIO ===================================

  // CAROUSEL ===================================
  .bxslider {
    .rewiev_slide {
      text-align: center;
      width: 88%;
      margin-left: 7%;
    }

    img {
      width: 30%;

      @include vertical;
    }

    .rewiev_txt {
      width: 70%;
      padding-top: 30px;

      @include vertical;
    }
  }

  //FOOTER ===================================
  .footer {
    min-height: 500px;

    .inner {
      min-height: 500px;
    }

    #map {
      overflow: hidden;
      width: 100%;
      height: 500px;
      position: absolute !important;
      z-index: 2;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .contacts {
      min-height: 500px;
      z-index: 3;

      .contacts_info {
        float: none;
      }
    }
  }
}

@media (max-width: 995px) {
  .txt_100 {
    &:nth-child(odd) {
      > div {
        padding-right: 0px;
      }
    }

    &:nth-child(even) {
      > div {
        padding-left: 0px;
      }
    }
  }
}