@mixin m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin p-x-0 {
  padding-left: 0;
  padding-right: 0;
}

@mixin p-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

@mixin clean {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// COLORS
@mixin bgBlack {
  background: $black;
  color: $pink;
}

@mixin bgPink {
  background: $pink;
  color: $black;
}

@mixin l-s-1 {
  letter-spacing: 1px;
  font-family: $gogoia;
}

// BACKGROUNDS
@mixin bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

// LINKS
@mixin link {
  a {
    display: block;
    text-align: center;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }
}

@mixin vertical {
  display: inline-block;
  vertical-align: middle;
}