// fonts
$gogoiaDeco: "gogoiadeco";
$gogoia: "gogoiaregular";
$fontAwesome: fontawesome;

$mon_bold: "montserratbold";
$mon_bold_i: "montserratbold_italic";

$mon: "montserratregular";
$mon_i: "montserratextralight_italic";

// colors
$black: #262626;
$white: #fff6ef;
$pink: #febbab;
$peach: #d95d3b;

// width
$dinamicWidth: 100% / 2 - 100;