// fonts
$gogoiaDeco: "gogoiadeco";
$gogoiaRegular: "gogoiaregular";
$fontAwesome: fontawesome;
$azoft: "azoft_sansregular";
$azoftBold: "azoft_sansbold_italic";

// colors
$black: #262626;
$pink: #febbab;

// width
$dinamicWidth: 100% / 2 - 100;