// fonts
$gogoiaDeco: "gogoiadeco";
$gogoia: "gogoiaregular";
$fontAwesome: fontawesome;

$mon: "montserratregular";
$mon_i: "montserratitalic";
$mon_black: "montserratblack";
$mon_bold: "montserratbold";
$mon_bold_i: "montserratbold_italic";

// colors
$black: #484848;
$aqua: #009F7E;
$white: #fff;
$pink: #FF5F6D;
$peach: #FFC371;

// width
$dinamicWidth: 100% / 2 - 100;